.gift-container {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 1rem;
 
}

.gift-title {
  text-align: center;
  color: #04525a;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.gift-card {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  overflow: hidden;

}

.gift-left {
font-family: 'IBM Plex Sans Arabic';
  flex: 1;
  padding: 2.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius:55px;
  height:127vh ;
  background-color: #1a4b56;

}

.gift-right {
  flex: 1;
  padding: 2.5rem;
}
.large{
    font-size: 65px ;
    font-weight: 700;
    line-height: normal !important;
}
.normal{
    font-size: 25px ;
    font-weight: 400;
}
.strong{
    font-weight: 700 !important;
}
.normal,.large{
    color: #fff !important;
}

@media screen and (max-width:576px) {
    .large{
        font-size: 40px;
    }
    .normal{
        font-size: 18px;
    }
    .gift-sender{
        font-size: 25px !important;
    }
}
.gift-heading {
  color: #04525a;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.gift-subheading {
  color: #04525a;
  margin-bottom: 1.5rem;
  text-align: center;
}

.gift-project {
  color: #04525a;
  margin: 1.5rem 0;
  text-align: center;
  direction: rtl;
}

.gift-name {
  color: #04525a;
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}

.gift-message {
  color: #555;
  line-height: 1.6;
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1rem;
}

.gift-quote {
    color: #04525a;
  margin: 1.5rem 0;
  text-align: center;
  padding: 0 1rem;
  font-size: 1rem;
}

.gift-sender {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  margin-top: 2rem;
  text-align: left;
}

.gift-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
}

.form-section-title {
  color: #04525a;
  margin-bottom: 1.5rem;
  text-align: right;
}

.submit-donation {
  background-color: #469e8d;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.submit-donation:hover {
  background-color: #04525a;
  transform: translateY(-2px);
}

@media (max-width: 992px) {
  .gift-card {
    flex-direction: column;
  }
  
  .gift-left, .gift-right {
    padding: 2rem 1.5rem;
  }
}
.form-section h4{
  color: #faa440;
}